html,
body {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    display: inline-block;
}

* {
    font-family: "Roboto Condensed", Arial, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

#page-wrapper {
    padding-top: 200px;
    padding-bottom: 200px;
}

html {
    background-image: url(../images/backs/ny_repeat_bg.jpg);
}

#page-wrapper {
    min-height: 100%;
}

#page-wrapper {
    background-image: url(../images/backs/back_doto.jpg);
    background-position: center top;
    background-repeat: no-repeat;
}

body {
    background-image: url(../images/backs/back_doto.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
}

/* Primary menu */

#primary-menu {
    background:	#FF9700;
    height: 75px;
    width: 50%;
    margin: 0 auto;
    position: relative;
}

#primary-menu::before {
    content: " ";
    position: absolute;
    top: -1px;
    left: -76px;
    border: 38px solid transparent;
    border-right-color: #FF9700;
    border-bottom-color: #FF9700;
}

#primary-menu::after {
    content: " ";
    position: absolute;
    top: -1px;
    right: -76px;
    border: 38px solid transparent;
    border-left-color: #FF9700;
    border-bottom-color: #FF9700;
}

#primary-menu > ul {
    padding: 0;
    margin: 0;
    font-size: 0;
    overflow:hidden;
    text-align: center;
}

#primary-menu > ul > li {
    display: inline-block;
    list-style: none;
    font-size: 16px;
}

#primary-menu > ul > li a {
    color: #fff;
    text-decoration: none;
    height: 75px;
    line-height: 75px;
    padding: 0 15px;
    position: relative;
    color: #fff;
    z-index: 999;
}

#primary-menu > ul > li a:hover {
    color: #333;
}

#primary-menu > ul > li a::before {
    content: " ";
    position: absolute;
    left: -4px;
    top: -25px;
    width: 100%;
    height: 150px;
    transform: rotate(20deg);
    background-color: rgba(255, 255, 255, 1);
    z-index: -1;
    opacity: 0;
}

#primary-menu > ul > li a:hover::before {
    opacity: 1;
}

/* Secondary menu */

#secondary-menu {
    background: #061727;
    height: 100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    text-align: center;
}

#secondary-menu > ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: 100px;
}

#secondary-menu > #logo {
    display: inline-block;
    width: 400px;
}

#secondary-menu > ul > li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

#secondary-menu > ul > #logo {
    width: 550px;
    position: relative;
}

#secondary-menu > ul > #logo > img {
    position: absolute;
    width: 200px;
    left: 160px;
    top: -45px;
}

#secondary-menu > ul > li > a {
    text-decoration: none;
    color: #fff;
}

#secondary-menu > ul > li > a:hover {
    color: #FF9700;
}

/* Slider */

#slider {
    height: 500px;
    overflow: hidden;
    margin-bottom: 0;
}

/* Content */

#content-wrapper {
    background-color: #fff;
}

#content,
#sidebar {
    float: left;
    padding: 40px;
}

#content {
    width: 75%;
}

#sidebar {
    width: 25%;
}

.clear {
    clear: both;
}

/* Footer */

#footer {
    background-color: #061727;
    padding: 40px;
    color: #fff;
}

.ingredient {
    color: yellow;
}

.dpc {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

/* footer-menu */

#footer-menu {
    background: #061727;
    height: 25px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    text-align: right;
}

#footer-menu > ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: 25px;
}

#footer-menu > #logo {
    display: inline-block;
    width: 400px;
}

#footer-menu > ul > li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

#footer-menuu > ul > #logo {
    width: 550px;
    position: relative;
}

#footer-menu > ul > #logo > img {
    position: absolute;
    width: 200px;
    left: 160px;
    top: -45px;
}

#footer-menu > ul > li > a {
    text-decoration: none;
    color: #fff;
}

#footer-menu > ul > li > a:hover {
    color: #FF9700;
}





